@import "tailwindcss";

:root {
  --background: #ffffff;
  --mainCl: #211f45;
}

body {
  font-family: Montserrat;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-bg{
  background: #211F45;
  background: linear-gradient(180deg, rgba(33, 31, 69, 1) 0%, rgba(44, 42, 110, 1) 100%);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}